{{- if and .Values.pgadmin.enabled .Values.pgadmin.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pgadmin
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: {{ .Values.pgadmin.ingress.host }}
      http:
        paths:
          - path: {{ .Values.pgadmin.ingress.path }}
            pathType: Prefix
            backend:
              service:
                name: pgadmin
                port:
                  number: 80
{{- end }}
