{{- if .Values.pgadmin.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: pgadmin
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: {{ .Values.pgadmin.port }}
      name: http
  selector:
    app: pgadmin
{{- end }}
